JWT_SECRET_KEY= < Create a JWT Secret Key >
ENVIRONMENT=local
BACKEND_CORS_ORIGINS=http://localhost,http://localhost:5173
POSTGRESQL_USERNAME=< Your Postgres Username >
POSTGRESQL_PASSWORD=< Your Postgres Password >
POSTGRESQL_SERVER=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=Planorama
DOMAIN=localhost
ORS_API_KEY= < Your Open Route Service API Key >